/.metadata
/RemoteSystemsTempFiles
/.settings

/.project

/test-output/
/logs/
/felix-cache/
/generated/

build/
.gradle/

.settings/
*.iml
out/
target/
nbactions.xml
nb-configuration.xml
.classpath
.project